@import '~bootstrap/scss/bootstrap';

h1 {
  text-align: center;
}

button {
    height: 60px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    background-color: transparent;
    font-size: 2rem;
    color: #333;
    background-image: linear-gradient(to bottom,transparent,transparent 50%,rgba(0,0,0,.04));
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(255,255,255,.45), inset 0 -1px 0 0 rgba(255,255,255,.15), 0 1px 0 0 rgba(255,255,255,.15);
    text-shadow: 0 1px rgba(255,255,255,.4);
  }
  
  button:hover {
    background-color: #eaeaea;
  }
  
  
.calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
  }

  .calculator-keys {
    .operator-buttons {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
    }
    .number-buttons {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    .equals-button {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
  }

  

  // .previous-operand{
  //   color: blue;
  // }


  .output{
    display: flex;
    height: 3em;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: aliceblue;
  }
  .output > div:first-child {
    font-weight: bolder;
  }

   .output > div:nth-child(2) {
    font-weight: bolder;
  }
 
   .output > div:nth-child(3) {
    color: red;
  }

  .output > div {
    display:flex;
    flex-grow: 4;
    justify-content: space-around
  }
  // .output:first-child {
  //   opacity: 0;
  // }

  .previous-answers {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 400px;
    height: 5em;
    overflow-y: auto;
    background-color: ivory;
  }

  .previous-answers > div {
    text-align: center
  
}
  

  .previous-answers > div:first-child {
    font-weight: bolder;
    color: orange;
  }